/* From Uiverse.io by andrew-demchenk0 */
.button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button__text {
  transform: translateX(0);
  color: var(--font-color);
  font-weight: 600;
  font-size: 16px;
  flex: 1;
  text-align: left;
  padding-left: 10px;
  white-space: nowrap;
  z-index: 2;
  position: relative;
}

.button__icon {
  position: absolute;
  transform: translateX(150px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
}

.button svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 150px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:disabled:active {
  transform: none;
  box-shadow: 4px 4px var(--main-color);
}
