/* From Uiverse.io by andrew-demchenk0 */
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795e;
  background-color: #209978;
  overflow: hidden;
  padding: 0;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #17795e;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:disabled:hover {
  background: #209978;
  border: 1px solid #17795e;
}

.button:disabled:hover .button__text {
  color: #fff;
}

.button:disabled:hover .button__icon {
  width: 39px;
  transform: translateX(109px);
}
