/* From Uiverse.io by adamgiebl */
.uploadButton {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725ac1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}

.uploadButton:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.uploadButton:active {
  transform: scale(0.9);
}

.uploadButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: #a08ab5;
  border-color: #a08ab5;
}

.uploadButton:disabled:hover {
  box-shadow: inset 0 0 0 0 #725ac1;
}
